@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  --font-main: "Roboto", sans-serif;

  --font-size-paragraph: 16px;

  --weight-normal: 400;
  --weight-bold: 700;

  --color-primary: hsl(4, 100%, 67%);

  --color-dark-slate-grey: hsl(234, 29%, 20%);
  --color-charcoal-grey: hsl(235, 18%, 26%);
  --color-grey: hsl(231, 7%, 60%);
  --color-white: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-main);
}

body{
  background-color: var(--color-charcoal-grey);
}

p{
  font-size: var(--font-size-paragraph);
}

/* Font Weight */
.fw-normal{
  font-weight: var(--weight-normal);
}

.fw-bold{
  font-weight: var(--weight-bold);
}

/* Font Size */
.fs-paragraph{
  font-size: var(--font-size-paragraph);
}

/* Colors */
.color-primary{
  color: var(--color-primary);
}

.color-dark-slate-grey{
  color: var(--color-dark-slate-grey);
}

.color-charcoal-grey{
  color: var(--color-charcoal-grey);
}

.color-grey{
  color: var(--color-grey);
}

.color-white{
  color: var(--color-white);
}